<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body>
    <div class="login">
        <h1>LOGIN</h1>
        <div class="links">
            <a href="{{ url_for('login') }}" class="active">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        </div>
        <form action="{{ url_for('login') }}" method="post">
            <label for="usuario">
                <i class="fa fa-user"></i>
            </label>
            <input type="text" name="usuario" placeholder="Usuario" id="usuario" required>
            <label for="clave">
                <i class="fa fa-lock"></i>
            </label>
            <input type="password" name="clave" placeholder="Clave" id="clave" required>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Login">
        </form>
    </div>
</body>

</html>